This kernal is aimed for using Plotly animation feature in scatter and geo plots to visualiza the 2019-nCov data

In [2]:
#Load libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
import plotly.figure_factory as ff
from plotly import subplots
from plotly.subplots import make_subplots
init_notebook_mode(connected=True)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
import plotly.figure_factory as ff
from plotly import subplots
from plotly.subplots import make_subplots
init_notebook_mode(connected=True)

#Load data
data = pd.read_csv("/Users/lihua/2019-nCov/input/novel-corona-virus-2019-dataset/2019_nCoV_data.csv",)
data.head()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,2020-01-22 12:00:00,1.0,0.0,0.0
1,2,01/22/2020 12:00:00,Beijing,China,2020-01-22 12:00:00,14.0,0.0,0.0
2,3,01/22/2020 12:00:00,Chongqing,China,2020-01-22 12:00:00,6.0,0.0,0.0
3,4,01/22/2020 12:00:00,Fujian,China,2020-01-22 12:00:00,1.0,0.0,0.0
4,5,01/22/2020 12:00:00,Gansu,China,2020-01-22 12:00:00,0.0,0.0,0.0

In [3]:
def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes, columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values

    return summary

In [4]:
df = pd.read_csv("/Users/lihua/2019-nCov/input/novel-corona-virus-2019-dataset/2019_nCoV_data.csv",)
resumetable(df)

Dataset Shape: (700, 8)

             Name   dtypes  Missing  Uniques
0             Sno    int64        0      700
1            Date   object        0       13
2  Province/State   object      164       56
3         Country   object        0       31
4     Last Update   object        0       92
5       Confirmed  float64        0      183
6          Deaths  float64        0       15
7       Recovered  float64        0       36

Let's rename columns, change datetime to date format, drop rows with (0,0,0) triplets.

In [5]:
df.rename(columns={'Last Update': 'LastUpdate',
                   'Province/State': 'PS'},
         inplace=True)
df['Date'] = pd.to_datetime(df['Date']).dt.date

virus_cols=['Confirmed', 'Deaths', 'Recovered']

df = df[df[virus_cols].sum(axis=1)!=0]

resumetable(df)

Dataset Shape: (681, 8)

         Name   dtypes  Missing  Uniques
0         Sno    int64        0      681
1        Date   object        0       13
2          PS   object      158       56
3     Country   object        0       28
4  LastUpdate   object        0       92
5   Confirmed  float64        0      182
6      Deaths  float64        0       15
7   Recovered  float64        0       36

We see that there are lots of missing values in the Province/State column, let's fill with Country value if there are no other Province/State, and drop the remaining 2 rows.

In [24]:
df.loc[(df['PS'].isnull()) & (df.groupby('Country')['PS'].transform('nunique') == 0), 'PS'] = \
        df.loc[(df['PS'].isnull()) & (df.groupby('Country')['PS'].transform('nunique') == 0), 'Country'].to_numpy()

df['Country'] = np.where(df['Country']=='Mainland China', 'China', df['Country'])
df.dropna(inplace=True)
resumetable(df)

AttributeError: 'Series' object has no attribute 'to_numpy'

In [25]:
pip install --upgrade pandas

Requirement already up-to-date: pandas in /Users/lihua/miniconda3/lib/python3.6/site-packages (1.0.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /Users/lihua/miniconda3/lib/python3.6/site-packages (from pandas) (1.14.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /Users/lihua/miniconda3/lib/python3.6/site-packages (from pandas) (2.7.3)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /Users/lihua/miniconda3/lib/python3.6/site-packages (from pandas) (2018.5)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/lihua/miniconda3/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.11.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas
print(pandas.__version__)

0.23.4